@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&family=Nunito:wght@300;500&family=Rancho&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#0091ff
rgb(15, 93, 188)
*/
html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3px;
}

section {
  @apply mt-10 min-h-screen;
}
.img_over_layer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;

  background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.387), #000000);
  background-size: 150px;
  background-position: bottom;
  @apply justify-end items-start flex flex-col px-5 pb-6 text-white rounded-b-2xl
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.275);
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}
.text_pr {
  @apply text-[#0091ff]  leading-[1.15];
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
